.pokemons{
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    margin: 0; 
    padding: 0;
}


.pokemon-list-item{
    
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #49d0b0;
}



.pokemon-list-item .detail {
    display: flex;
    flex-direction: row;
   
    align-items: center;
    justify-content: space-between;

}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 5,
  'wght' 100,
  'GRAD' 0,
  'opsz' 16
}


.xp-abilities{
    display: none;
}

.xp-abilities{
    justify-content: center;
    align-items: center;
    backdrop-filter: brightness(96%);
    font-size: .625rem;
    color: #fff;
    border-radius: 1rem;
    margin-top: .7rem;
    padding:.5rem;
   
}



.pokemon-list-item:hover{
    z-index: 1;
    transform: scale(1.05);
    transform-box:view-box;
    transition: 500ms;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    
    
}

.pokemon-list-item:hover .xp-abilities{
        display: grid;
        grid-template-columns: .5fr .5fr 3fr;
        

}


.abilities{
    list-style: none;
    text-transform: capitalize;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.xp-text{
    font-size: .8rem;
    margin: .06rem
}

.pokemons .pokemon-list-item .detail .pokemon-list-item-image {
    
    max-width: 100%;
    height: 70px;
    align-self: flex-end;
}

.pokemon-list-item .name{
    color: #fff;
    margin-bottom: .25rem;
    text-transform:capitalize;  
}


.pokemon-list-item .number{
    color: #000;
    opacity: .3;
    text-align: right;
    font-size:  .625rem;
}

.pokemon-list-item .types{
    padding: 0;
    margin: 0;
    list-style: none;

}

.types .type{
    
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
    text-transform: capitalize;
}



.normal {
    background-color: #a6a877}

.grass {
    background-color: #77c850}

.fire {
    background-color: #f05030}

.water {
    background-color: #678fee}

.electric {
    background-color: #f7cf2e}

.ice {
    background-color: #98d577}
.ground {
    background-color: #dfbf69}

.flying {
    background-color: #a98ff0}

.poison {
    background-color: #a040a0}

.fighting {
    background-color: #bf3029}

.psychic {
    background-color: #f65687}

.dark {
    background-color: #725847}

.rock {
    background-color: #b8a137}

.bug {
    background-color: #a8b720}

.ghost {
    background-color: #6e5896}

.steel {
    background-color: #b9b7cf}

.dragon {
    background-color: #6f38f6}

.fairy {
    background-color: #f9aec7}


.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

#loadMore {
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    color: #fff;
    padding: .25rem 0.5rem;
    margin: .25rem 0;
    font-size: .825rem;
}

#loadMore:hover{
    filter: brightness(1.2);
}

@media screen and (min-width: 380px){
    .pokemons{

        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px){
    .pokemons{

        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px){
    .pokemons{

        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

